* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    padding: 10px;
}

a {
    color: #00b7ff;
    text-decoration: none;
}
img {
    width: 150px;
    height: 50px;
}
figure {
    width: 20%;
}
.titulo {
    text-align: center;
}
.formulario {
    margin: auto;
    width: 20%;
}