<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: 'Inicio' }) %>

  <body class="index">
    <%- include('partials/header') %>

    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/movies" class="btn btn-dark btn-sm">Listado de Películas</a></p>
    <p><a href="/genres" class="btn btn-dark btn-sm">Listado de Géneros</a></p>
  </body>
</html>
