<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Borrar Película' }) %>

<body>
    <%- include('partials/header') %>

    <h1>Esta a punto de eliminar la película: <b><%= Movie.title %></b>. ¿Desea continuar?</h1>
    <p>
    <form action="/movies/delete/<%= Movie.id %>?_method=DELETE" method="POST">
        <br>
        <p> <button class="botonBorrar" type="submit">Borrar la Película</button>

            <a href="/movies" class="btn btn-dark btn-sm">Listado de Películas</a>
        </p>
    </form>
    </p>
</body>

</html>