<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Listado de Peliculas' }) %>


    <body>
        <%- include('partials/header') %>
            <!-- <h1 class="titulo">LISTADO DE PELÍCULAS</h1> -->

            <div class="card">
                <div class="card-header">
                    <nav class="d-flex justify-content-between" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Películas</li>
                        </ol>
                        <a href="/movies/add" class="btn btn-dark">Agregar película</a>
                    </nav>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="table-dark" scope="col">#</th>
                                <th class="table-dark" scope="col">Título</th>
                                <th class="table-dark" scope="col">Rating</th>
                                <th class="table-dark" scope="col">Premios</th>
                                <th class="table-dark" scope="col">Género</th>
                                <th class="table-dark" scope="col">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                    <tbody>
                        <% for( let i=0; i < movies.length; i++ ) { %>
                            <li>
                                <a href="/movies/detail/<%= movies[i].id %>">
                                    <%= movies[i].title %>
                                </a>
                            </li>
                            <% } %>
                    </tbody>
                </div>
            </div>
    </body>

</html>