<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Agregar película' }) %>

    <body>
        <%- include('partials/header') %>
        
        <main>
            <h1 class="titulo">Agregar Película</h1>
            <br>
            <div class="card">
                <div class="card-header">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/movies">Películas</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Agregar película</li>
                        </ol>
                    </nav>
                </div>
                <div class="card-body">
                    <form class="row g-3" action="/movies/create" method="POST">
                        <div class="mb-2 col-md-6">
                            <label for="title" class="form-label">Título 🎬</label>
                            <input type="text" class="form-control" name="title" id="title">
                        </div>
                        <div class="mb-2 col-md-6">
                            <label for="genre_id" class="form-label">Género 🎭</label>
                            <select name="genre_id" id="genre_id" name="genre_id" class="form-select">
                                <option value="" hidden selected>Selecciona género</option>
                                <% genres.forEach(genre=> { %>
                                    <option value="<%= genre.id %>">
                                        <%= genre.name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="mb-2 col-md-3">
                            <label for="length" class="form-label">Duración (min)⏳</label>
                            <input type="number" class="form-control" name="length" id="length">
                        </div>
                        <div class="mb-2 col-md-3">
                            <label for="rating" class="form-label">Rating ⭐⭐⭐</label>
                            <input type="number" class="form-control" name="rating" id="rating">
                        </div>
                        <div class="mb-2 col-md-3">
                            <label for="awards" class="form-label">Premios 🥇</label>
                            <input type="number" class="form-control" name="awards" id="awards">
                        </div>
                        <div class="mb-2 col-md-3">
                            <label for="release_date" class="form-label">Fecha de estreno 📅</label>
                            <input type="date" class="form-control" name="release_date" id="release_date">
                        </div>
                       
                        <div class="col-12 d-md-none">
                            <button type="submit" class="btn btn-dark w-100">Agregar</button>
                        </div>
                        <div class="col-md-12 d-none d-md-flex justify-content-end">
                            <button type="submit" class="btn btn-dark">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>

</html>